* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none;
    outline: none;
    background: transparent; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  body {
  font-family: 'Arial'; }
@font-face{
  font-family:"HelveticaNeueLTStd-Cn";
  src: url('../fonts/HelveticaNeueLTStd-Cn.otf')
}

  /* .................HEADER ..................*/

.header-top{
  background-color: black; }
  .header-top p{
    font-size: 11px; 
    color: white;
    line-height: 30px; }
  .header-top ul{ margin: 0px; }
    .header-top ul li{ 
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px;
    border-left:1px solid #444444 ;
    border-right:1px solid #444444 ;
    margin-left: -5px; }
      .header-top ul li a{ 
      color: white;
      line-height: 30px;
      font-size: 11px }

.header-bottom .logo{ 
  height: 105px; }
  .header-bottom .logo img{ 
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .header-bottom .menu{ 
  padding: 0px; }
    .header-bottom .menu .dropdown{ 
    display: inline-block;
    margin-left: 7%; }
      .header-bottom .menu ul.text-right{ 
      margin-top: 41px !important;
      margin: 0px; }
        .header-bottom .menu .dropdown a{ 
        color: black;
        font-size: 16px }
  .header-bottom .form-group{
    width: 215px;
    height: 70px;
    background-color: #fafafa;
    display: inline-block;
    margin-top: 17px;
    margin-bottom: 0px;
    border: 1px solid #A9A9A9;
    }
    .header-bottom .form-group input{
      width: 213px;
      height: 35px;
      border: none;
      border-bottom: 1px solid #A9A9A9;
      padding-left: 9px;
      font-size: 13px; }
    .header-bottom .form-group i{
      position: absolute;
      right: 25px;
      top: 29px;
      color: #c1c1c1;
      cursor: pointer; }
    .header-bottom .form-group p{
      color: #949393;
      line-height: 35px;
      background: url(../images/cart.png) no-repeat 9px 6px;
      padding-right: 9px;
      font-size: 13px; }

.menu-content{ 
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  font-size: 12px;
  line-height: 30px; }
  .menu-content a{ 
    color: #7a706d;
    font-size: 12px;
    line-height: 30px; }
  .menu-content a:hover{ 
    color: black; }
  .menu-content a i{ 
    font-size: 18px; }
content .product{ 
  margin-top: 25px; }
content .product .product-introduction ul.carousel-indicators {
  margin: auto;
  bottom: auto;
  position: static;
  }
  content .product .product-introduction ul.carousel-indicators li{ 
    width: auto;
    height: auto;
    margin: 0px;
    text-indent: unset; }
    content .product .product-introduction ul.carousel-indicators.row .col-3{ 
      padding: 10px 10px;
      opacity: 0.5; }
    content .product .product-introduction ul.carousel-indicators.row .col-3.active{ 
      opacity: 1; }
content .product .product-details{ 
  padding-right:0px ; }
content .product .product-details p:nth-child(1){ 
  font-size: 12px;
  color: #8f8f8f;
  padding: 10px 0px 15px 0px;
  border-bottom: 1px solid #d6d6d6; }
  content .product .product-details p:nth-child(1) span:nth-child(2){ 
    color: #fd926d; }
  content .product .product-details h4{
    font-size: 24px;
    padding: 20px 0px 10px 0px;
    color: #4a4a4a;  }
  content .product .product-details div:nth-child(3) .text-left{ 
    font-size: 36px;
    color: #fd926d; }
  content .product .product-details div:nth-child(3) .text-right p{
    font-size: 12px;
    color: #8f8f8f;
    border: none;
    padding: 0px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background: url('../images/review.png') no-repeat center right;
    padding-right: 60px; }
  content .product .product-details p:nth-child(4){
    font-size: 12px;
    color: #8f8f8f;
    padding-top: 10px; }
  content .product .product-details>div:nth-child(5){
    margin-top: 25px;
    padding: 10px 0px 3px 0px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;  }
    content .product .product-details .form-group{ 
      display: inline-block;
      margin: 0px; }
    content .product .product-details div:nth-child(5) .text-left input{
      width: 160px;
      height: 30px;
      color: #4d4d4d;
      font-size: 12px;
      border: none;
      background-color: #f4f4f4;
      padding-left: 10px;  }  
    content .product .product-details div:nth-child(5) .text-left button{
      width: 30px;
      height: 30px;
      background-color: #e5e5e5;
      display: inline-block;
      border-radius: 0px;
      margin-left: -5px;
      padding: 0px; }
    content .product .product-details div:nth-child(5) .text-right div{
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-left: -4px; }
      content .product .product-details div:nth-child(5) .text-right div:nth-child(1){ 
       background-color: #efebe2; }
      content .product .product-details div:nth-child(5) .text-right div:nth-child(2){ 
       background-color: #c9c1c6; }
      content .product .product-details div:nth-child(5) .text-right div:nth-child(3){ 
       background-color: #b29b88; }
      content .product .product-details div:nth-child(5) .text-right div:nth-child(4){ 
       background-color: #968886; }
       content .product .product-details div:nth-child(5) .text-right div:nth-child(5){ 
       background-color: #cde0ef; }
    content .product .product-details div:nth-child(6){ 
      margin-top: 25px; }
      content .product .product-details .input-group button{
        background-color: #fd926d;
        border-radius: 0px;
        color: white;
        width: 50px;
        height: 50px;
        font-size: 12px; }
      content .product .product-details .input-group input{
        height: 50px;
        background-color: #feb298;
        text-align: center;
        border: none;
        }
      content .product .product-details .add-cart button{ 
        width: 150px;
        height: 50px;
        background-color: #fd926d;
        color: white;
        font-family: 'HelveticaNeueLTStd-Lt';
        border-radius:0px; }
content .share {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  margin-top: 30px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6; }
  content .share img{ 
    float: left; }
  content .share p{
    float: left;
    padding-left: 10px;
    font-size: 12px;
    color: black;
    padding-top: 8px; }
content .danhmuc{ 
  margin-top: 35px; }
  content .danhmuc div{ 
    height: 60px;
    width: 100%;
    padding-left: 20px;
    text-transform: uppercase;
    display: flex;
    color: white;
    align-items: center; }
  content .danhmuc div button{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 0px;
    color: white;
    background: #f2b9a4;
    margin-right: 15px;
    }
  content .danhmuc div:nth-child(1){
    background-color: #ffd5c6; }
  content .danhmuc div:nth-child(2){
    background-color: #ffcab8; }
  content .danhmuc div:nth-child(3){
    background-color: #ffae92; }
  content .danhmuc div:nth-child(4){
    background-color: #ffa687; }
  content .danhmuc div:nth-child(5){
    background-color: #fd926d; }
content .related-products{
  height: 1px;
  border: 1px solid #d8d8d8;
  text-transform: uppercase;
  margin-top: 50px;
  position: relative; }
content .related-products p{
  font-size: 15px;
  font-weight: bold;
  padding: 0px 20px;
  display: inline-block;
  position: absolute;
  top: -11px;
  transform: translateX(-50%);
  background: white; }
  content .products{ 
    margin-top: 50px; }
  content .products .text-center{ 
    padding-bottom: 10px; }
    content .products .text-center div{ 
      background-color: #f7f7f7;
      padding: 10px 0px; }
  content .products h5{ 
    font-size: 12px;
    color: #373737; }
  content .products p{ 
    font-size: 22px;
    color:#373737; }
  content .products button{ 
    width: 120px;
    height: 30px;
    color: white;
    font-size: 12px;
    border-radius: 0px;
    background-color: #fd926d; }

/* ---------------END CONTENT-------------- */

/* -------------- FOOTER------------- */

footer .pay{ 
  height: 60px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #414141;
  margin-top: 40px; }
  footer .pay a{ 
    padding-left: 20px; }
footer .information{ 
  padding-top: 30px;
  background-color: #ededed; }
  footer .information h4{ 
    font-size: 16px;
    font-weight: bold;
    color: #544f4d;
    padding-bottom: 15px; }
  footer .information .link1 li{ 
    list-style-type: none;
    line-height: 20px; }
    footer .information .link1 li a{ 
      font-size: 12px;
      color: #544f4d; }
      footer .information .link1 li a:hover{ 
      text-decoration: underline !important; }
  footer .information .link2 li{ 
    list-style-type: none;
    display: inline-block;
    padding: 0px 3px 10px 0px; }
  footer .information .secured .text-center{ 
    position: absolute;
    right: 0;
    top: 23px; }
    footer .information .secured .text-center p:nth-child(2){ 
      position: absolute;
      left: 21%;
      top: 21%;
      font-size: 30px;
      color: #a59d9a;
      font-family: Impact; } 
    footer .information .secured .text-center p:nth-child(3){ 
      font-family: "HelveticaNeueLTStd-Cn";
      font-size: 14px;
      color: #a59d9a;
      left: 28%;
      top: 54%;
      position: absolute; }
footer .footer-bottom{ 
  background-color: black;
  display: flex;
  height: 75px;
  align-items: center; }
  footer .footer-bottom .menu-footer a{ 
    color: #8d8d8d;
    font-size: 11px; }
  footer .footer-bottom .menu-footer a:hover{ 
    color: white; }
  footer .footer-bottom .text-right { 
    color: #8d8d8d;
    font-size: 11px; }


/* -------------END FOOTER-------------- */

/* -------------REPONSIVE------------- */

@media screen and (max-width: 1199px) {

}
@media screen and (max-width: 991px){
  .header-bottom .form-group{
    width: 100%; }
  .header-bottom .form-group input{ 
    width: 100%; }
  .header-bottom .menu .dropdown a{ 
    font-size: 14px; }
  .header-bottom .menu .dropdown{ 
    margin-left: 3%; }
}
@media screen and (max-width: 767px){
  
}